body {
  margin: 0;
}

#debug {
  position: absolute;
  display: none;
}

#debug.show {
  display: block !important;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: block;
  overflow: scroll;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.page {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  scroll-snap-align: start;
  overflow: hidden;
}

.page1 {
  background: #f66;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.page3 {
  background: #9cc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page3 img {
  position: relative;
}

.firefox {
  right: 20vh;
}

.edge {
  left: 20vh;
}

@keyframes roll {
  from {
    transform: translate(-50vw);
  }

  to {
    transform: translate(50vw);
  }
}

.logo {
  animation: linear both roll 1s;
  animation-play-state: paused;
  animation-delay: calc((var(--scroll) * -0.5s) - 0.5s);
  height: 20vh;
}
