body {
  margin: 0;
}

.debug {
  position: absolute;
  display: none;
}

.showDebug .debug {
  display: block !important;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: block;
  overflow: scroll;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.page {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  scroll-snap-align: start;
}

.page1 {
  background: #f66;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2 {
  background: #9cc;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
