body {
  margin: 0;
  font-family: sans-serif;
}

#debug {
  position: absolute;
  display: none;
}

#debug.show {
  display: block !important;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: block;
  overflow: scroll;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.page {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  scroll-snap-align: start;
  overflow: hidden;
}

.page1 {
  background: #f66;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.page3 {
  background: #9cc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo .circle {
  height: 20vh;
  width: 20vh;
}

.logo div {
  position: absolute;
  clip-path: circle(50%);
  z-index: 100;
}

@keyframes roll {
  from {
    transform: translate(-100vh);
  }

  to {
    transform: translate(100vh);
  }
}

.logo {
  position: relative;
  animation: linear both roll 1s;
  animation-play-state: paused;
  animation-delay: calc((var(--scroll) * -0.5s) - 0.5s);
  height: 20vh;
  width: 20vh;
}

.firefox {
  right: 20vh;
}

.edge {
  left: 20vh;
}

.circle {
  transition: all 1s;
}

.active .circle {
  transform: scale(2, 2) rotate(-30deg);
}

.inactive .circle {
  filter: brightness(15%);
}

.logo span {
  position: absolute;
  height: 20vh;
  line-height: 20vh;
  font-size: 15vh;
  left: 150vw;
  transition: all 1s;
}

.active span {
  left: 10vw;
}

.firefox span {
  color: #216;
}

.chrome span {
  color: #018;
}

.edge span {
  color: #160;
}
